body{
    font-family: sans-serif;
}
a {
    text-decoration: none;
}

.links {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

h1 {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.imaging {
    border-radius: 50%;
    width: 600px;
    background-color: aqua;
    border: #03c800 4px double;

}

.leader {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 18x;
    line-height: 30px;
    color: #7d7987;
}

.former {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}

.buttons {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}